@page "/profile"

<PageTitle>Profile</PageTitle>

<FluentCard>
    <h1>About Me</h1>
    <p>I am a software engineer passionate about .NET and clean code.</p>
    <p>This is a placeholder for my profile page.</p>
</FluentCard>
